# POSTTEST 4

## DATA SPLIT

In [79]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [80]:
startup_data = pd.read_csv('startup data.csv', sep=";")

In [81]:
startup_data.head()

,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,labels,...,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,1005.0,CA,4.235.888,-7.105.682,92101,c:6669,San Diego,NaN,Bandsintown,1.0,...,c:6669,0.0,1.0,0.0,0.0,0.0,0.0,1.000,0.0,acquired
1,204.0,CA,37.238.916,-121.973.718,95032,c:16283,Los Gatos,NaN,TriCipher,1.0,...,c:16283,1.0,0.0,0.0,1.0,1.0,1.0,4.750,1.0,acquired
2,1001.0,CA,32.901.049,-117.192.656,92121,c:65620,San Diego,San Diego CA 92121,Plixi,1.0,...,c:65620,0.0,0.0,1.0,0.0,0.0,0.0,4.000,1.0,acquired
3,738.0,CA,37.320.309,-12.205.004,95014,c:42668,Cupertino,Cupertino CA 95014,Solidcore Systems,1.0,...,c:42668,0.0,0.0,0.0,1.0,1.0,1.0,33.333,1.0,acquired
4,1002.0,CA,37.779.281,-122.419.236,94105,c:65806,San Francisco,San Francisco CA 94105,Inhale Digital,0.0,...,c:65806,1.0,1.0,0.0,0.0,0.0,0.0,1.000,1.0,closed

In [82]:
startup_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1830 entries, 0 to 1829
Data columns (total 49 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                923 non-null    float64
 1   state_code                923 non-null    object
 2   latitude                  923 non-null    object
 3   longitude                 923 non-null    object
 4   zip_code                  923 non-null    object
 5   id                        923 non-null    object
 6   city                      923 non-null    object
 7   Unnamed: 6                430 non-null    object
 8   name                      923 non-null    object
 9   labels                    923 non-null    float64
 10  founded_at                923 non-null    object
 11  closed_at                 335 non-null    object
 12  first_funding_at          923 non-null    object
 13  last_funding_at           923 non-null    object
 14  age_first_funding_year    923 non-null    object
 15  age_last_funding_year     923 non-null    object
 16  age_first_milestone_year  771 non-null    object
 17  age_last_milestone_year   771 non-null    object
 18  relationships             923 non-null    float64
 19  funding_rounds            923 non-null    float64
 20  funding_total_usd         923 non-null    float64
 21  milestones                923 non-null    float64
 22  state_code.1              922 non-null    object
 23  is_CA                     923 non-null    float64
 24  is_NY                     923 non-null    float64
 25  is_MA                     923 non-null    float64
 26  is_TX                     923 non-null    float64
 27  is_otherstate             923 non-null    float64
 28  category_code             923 non-null    object
 29  is_software               923 non-null    float64
 30  is_web                    923 non-null    float64
 31  is_mobile                 923 non-null    float64
 32  is_enterprise             923 non-null    float64
 33  is_advertising            923 non-null    float64
 34  is_gamesvideo             923 non-null    float64
 35  is_ecommerce              923 non-null    float64
 36  is_biotech                923 non-null    float64
 37  is_consulting             923 non-null    float64
 38  is_othercategory          923 non-null    float64
 39  object_id                 923 non-null    object
 40  has_VC                    923 non-null    float64
 41  has_angel                 923 non-null    float64
 42  has_roundA                923 non-null    float64
 43  has_roundB                923 non-null    float64
 44  has_roundC                923 non-null    float64
 45  has_roundD                923 non-null    float64
 46  avg_participants          923 non-null    float64
 47  is_top500                 923 non-null    float64
 48  status                    923 non-null    object
dtypes: float64(29), object(20)
memory usage: 700.7+ KB

In [83]:
startup_data.shape

(1830, 49)

In [84]:
X = startup_data.iloc[:, :-1]
y = startup_data.iloc[:,-1]

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3)

In [85]:
print("dimensi X_train :", X_train.shape)
print("dimensi X_test :", X_test.shape)
print("dimensi y_train :", y_train.shape)
print("dimensi y_test :", y_test.shape)

dimensi X_train : (1281, 48)
dimensi X_test : (549, 48)
dimensi y_train : (1281,)
dimensi y_test : (549,)

## DATA NORMALISASI

In [86]:
from sklearn.preprocessing import MinMaxScaler

In [87]:
min_max_scaler = MinMaxScaler()

In [88]:
data_normal = startup_data

In [89]:
x_scaled = min_max_scaler.fit_transform(
    startup_data[['is_top500', 'has_VC', 'relationships', 'avg_participants']]
)

In [90]:
data_normal = pd.DataFrame(x_scaled)
data_normal.head()

     0    1         2         3
0  0.0  0.0  0.047619  0.000000
1  1.0  1.0  0.142857  0.000080
2  1.0  0.0  0.079365  0.000064
3  1.0  0.0  0.079365  0.000693
4  1.0  1.0  0.031746  0.000000

## DATA STANDARISASI

In [91]:
data_standar = startup_data

In [92]:
np.std(startup_data)

C:\Users\aliya\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:3571: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

Unnamed: 0           3.334047e+02
labels               4.779630e-01
relationships        7.261839e+00
funding_rounds       1.390168e+00
funding_total_usd    1.895316e+08
milestones           1.321915e+00
is_CA                4.992361e-01
is_NY                3.188323e-01
is_MA                2.860731e-01
is_TX                2.084063e-01
is_otherstate        4.149329e-01
is_software          3.718685e-01
is_web               3.628677e-01
is_mobile            2.797584e-01
is_enterprise        2.698791e-01
is_advertising       2.503201e-01
is_gamesvideo        2.305733e-01
is_ecommerce         1.623329e-01
is_biotech           1.883600e-01
is_consulting        5.691842e-02
is_othercategory     4.675698e-01
has_VC               4.687883e-01
has_angel            4.356387e-01
has_roundA           4.999340e-01
has_roundB           4.882407e-01
has_roundC           4.227019e-01
has_roundD           2.995661e-01
avg_participants     1.925542e+03
is_top500            3.928393e-01
dtype: float64

In [93]:
from sklearn.preprocessing import StandardScaler

In [94]:
ss = StandardScaler()

In [95]:
x_scaled2 = ss.fit_transform(
    startup_data[['is_top500', 'has_VC', 'relationships', 'avg_participants']]
)

In [96]:
data_standar = pd.DataFrame(x_scaled2)
data_standar.head()

          0         1         2         3
0 -2.060174 -0.695646 -0.648696 -0.056887
1  0.485396  1.437514  0.177541 -0.054940
2  0.485396 -0.695646 -0.373284 -0.055329
3  0.485396 -0.695646 -0.373284 -0.040096
4  0.485396  1.437514 -0.786402 -0.056887

## DATA CLEANING

### NILAI NULL

In [97]:
startup_data2 = pd.read_csv('startup data rusak.csv', sep=";")

In [98]:
data_bersih = startup_data2

In [99]:
data_bersih.isnull().sum()

Unnamed: 0                    0
state_code                    0
latitude                      0
longitude                     0
zip_code                      0
id                            0
city                          0
Unnamed: 6                  492
name                          0
labels                        0
founded_at                    0
closed_at                   584
first_funding_at              0
last_funding_at               0
age_first_funding_year        0
age_last_funding_year         0
age_first_milestone_year    154
age_last_milestone_year     154
relationships                 0
funding_rounds                0
funding_total_usd             0
milestones                    0
state_code.1                  1
is_CA                         0
is_NY                         0
is_MA                         0
is_TX                         0
is_otherstate                 0
category_code                 0
is_software                   0
is_web                        0
is_mobile                     0
is_enterprise                 0
is_advertising                0
is_gamesvideo                 0
is_ecommerce                  0
is_biotech                    0
is_consulting                 0
is_othercategory              0
object_id                     0
has_VC                       19
has_angel                    18
has_roundA                   14
has_roundB                   15
has_roundC                   19
has_roundD                   45
avg_participants              0
is_top500                     0
status                        0
dtype: int64

In [100]:
data_bersih[0:61]

,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,labels,...,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,1005,CA,4.235.888,-7.105.682,92101,c:6669,San Diego,NaN,Bandsintown,1,...,c:6669,NaN,1.0,NaN,NaN,NaN,NaN,1.000,0,acquired
1,204,CA,37.238.916,-121.973.718,95032,c:16283,Los Gatos,NaN,TriCipher,1,...,c:16283,1.0,2.0,1.0,1.0,1.0,1.0,4.750,1,acquired
2,1001,CA,32.901.049,-117.192.656,92121,c:65620,San Diego,San Diego CA 92121,Plixi,1,...,c:65620,2.0,3.0,2.0,2.0,2.0,NaN,4.000,1,acquired
3,738,CA,37.320.309,-12.205.004,95014,c:42668,Cupertino,Cupertino CA 95014,Solidcore Systems,1,...,c:42668,3.0,4.0,3.0,3.0,3.0,1.0,33.333,1,acquired
4,1002,CA,37.779.281,-122.419.236,94105,c:65806,San Francisco,San Francisco CA 94105,Inhale Digital,0,...,c:65806,4.0,5.0,4.0,4.0,4.0,NaN,1.000,1,closed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,1059,CA,37.445.586,-122.161.929,95128,c:765,Palo Alto,Palo Alto CA 95128,Viewdle,1,...,c:765,5.0,5.0,5.0,5.0,5.0,5.0,2.000,1,acquired
57,320,CA,335.842.816,-1.177.306.817,92656,c:19257,Aliso Viejo,NaN,Enclarity,1,...,c:19257,6.0,6.0,6.0,6.0,6.0,6.0,2.000,1,acquired
58,445,CA,37.402.773,-122.052.551,94089,c:25827,Sunnyvale,NaN,Virsto Software,1,...,c:25827,7.0,7.0,7.0,7.0,7.0,7.0,33.333,1,acquired
59,950,MO,39.103.151,-94.581.908,64106,c:5932,Kansas City,NaN,Handmark,1,...,c:5932,8.0,8.0,8.0,8.0,8.0,8.0,4.500,1,acquired
60,617,MA,42.546.483,-7.117.366.700.000.000,1887,c:35157,Wilmington,Wilmington MA 1887,Viacor,0,...,c:35157,22.0,22.0,22.0,1.0,22.0,22.0,2.000,1,closed

In [101]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="median")

In [102]:
data_bersih["has_roundA"] = imputer.fit_transform(data_bersih[["has_roundA"]])

In [103]:
data_bersih.isnull().sum()

Unnamed: 0                    0
state_code                    0
latitude                      0
longitude                     0
zip_code                      0
id                            0
city                          0
Unnamed: 6                  492
name                          0
labels                        0
founded_at                    0
closed_at                   584
first_funding_at              0
last_funding_at               0
age_first_funding_year        0
age_last_funding_year         0
age_first_milestone_year    154
age_last_milestone_year     154
relationships                 0
funding_rounds                0
funding_total_usd             0
milestones                    0
state_code.1                  1
is_CA                         0
is_NY                         0
is_MA                         0
is_TX                         0
is_otherstate                 0
category_code                 0
is_software                   0
is_web                        0
is_mobile                     0
is_enterprise                 0
is_advertising                0
is_gamesvideo                 0
is_ecommerce                  0
is_biotech                    0
is_consulting                 0
is_othercategory              0
object_id                     0
has_VC                       19
has_angel                    18
has_roundA                    0
has_roundB                   15
has_roundC                   19
has_roundD                   45
avg_participants              0
is_top500                     0
status                        0
dtype: int64

In [104]:
data_bersih["has_roundB"]=data_bersih["has_roundB"].fillna(data_bersih["has_roundB"].mean())

In [105]:
data_bersih.isnull().sum()

Unnamed: 0                    0
state_code                    0
latitude                      0
longitude                     0
zip_code                      0
id                            0
city                          0
Unnamed: 6                  492
name                          0
labels                        0
founded_at                    0
closed_at                   584
first_funding_at              0
last_funding_at               0
age_first_funding_year        0
age_last_funding_year         0
age_first_milestone_year    154
age_last_milestone_year     154
relationships                 0
funding_rounds                0
funding_total_usd             0
milestones                    0
state_code.1                  1
is_CA                         0
is_NY                         0
is_MA                         0
is_TX                         0
is_otherstate                 0
category_code                 0
is_software                   0
is_web                        0
is_mobile                     0
is_enterprise                 0
is_advertising                0
is_gamesvideo                 0
is_ecommerce                  0
is_biotech                    0
is_consulting                 0
is_othercategory              0
object_id                     0
has_VC                       19
has_angel                    18
has_roundA                    0
has_roundB                    0
has_roundC                   19
has_roundD                   45
avg_participants              0
is_top500                     0
status                        0
dtype: int64

In [106]:
data_bersih.fillna(data_bersih.mean())
data_bersih.isna().sum()

C:\Users\aliya\AppData\Local\Temp\ipykernel_7464\275582265.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data_bersih.fillna(data_bersih.mean())

Unnamed: 0                    0
state_code                    0
latitude                      0
longitude                     0
zip_code                      0
id                            0
city                          0
Unnamed: 6                  492
name                          0
labels                        0
founded_at                    0
closed_at                   584
first_funding_at              0
last_funding_at               0
age_first_funding_year        0
age_last_funding_year         0
age_first_milestone_year    154
age_last_milestone_year     154
relationships                 0
funding_rounds                0
funding_total_usd             0
milestones                    0
state_code.1                  1
is_CA                         0
is_NY                         0
is_MA                         0
is_TX                         0
is_otherstate                 0
category_code                 0
is_software                   0
is_web                        0
is_mobile                     0
is_enterprise                 0
is_advertising                0
is_gamesvideo                 0
is_ecommerce                  0
is_biotech                    0
is_consulting                 0
is_othercategory              0
object_id                     0
has_VC                       19
has_angel                    18
has_roundA                    0
has_roundB                    0
has_roundC                   19
has_roundD                   45
avg_participants              0
is_top500                     0
status                        0
dtype: int64

### NILAI DUPLIKAT

In [107]:
data_bersih[data_bersih.duplicated()]

,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,labels,...,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
6,379,CA,37.406.914,-12.209.037,94043,c:22898,Mountain View,Mountain View CA 94043,Matisse Networks,0,...,c:22898,5.0,6.0,5.0,5.0,5.0,NaN,3.0,1,closed
7,379,CA,37.406.914,-12.209.037,94043,c:22898,Mountain View,Mountain View CA 94043,Matisse Networks,0,...,c:22898,5.0,6.0,5.0,5.0,5.0,NaN,3.0,1,closed
13,531,KY,38.241.467,-8.572.451.099.999.990,40204,c:30290,Louisville,NaN,Resonant Vibes,0,...,c:30290,12.0,13.0,12.0,12.0,12.0,NaN,1.0,0,closed
14,531,KY,38.241.467,-8.572.451.099.999.990,40204,c:30290,Louisville,NaN,Resonant Vibes,0,...,c:30290,12.0,13.0,12.0,12.0,12.0,NaN,1.0,0,closed
15,531,KY,38.241.467,-8.572.451.099.999.990,40204,c:30290,Louisville,NaN,Resonant Vibes,0,...,c:30290,12.0,13.0,12.0,12.0,12.0,NaN,1.0,0,closed

In [108]:
data_bersih.drop_duplicates(inplace=True)
data_bersih.duplicated().sum()

0

## MENGGANTI TIPE DATA

In [109]:
data_bersih.dtypes

Unnamed: 0                    int64
state_code                   object
latitude                     object
longitude                    object
zip_code                     object
id                           object
city                         object
Unnamed: 6                   object
name                         object
labels                        int64
founded_at                   object
closed_at                    object
first_funding_at             object
last_funding_at              object
age_first_funding_year       object
age_last_funding_year        object
age_first_milestone_year     object
age_last_milestone_year      object
relationships                 int64
funding_rounds                int64
funding_total_usd             int64
milestones                    int64
state_code.1                 object
is_CA                         int64
is_NY                         int64
is_MA                         int64
is_TX                         int64
is_otherstate                 int64
category_code                object
is_software                   int64
is_web                        int64
is_mobile                     int64
is_enterprise                 int64
is_advertising                int64
is_gamesvideo                 int64
is_ecommerce                  int64
is_biotech                    int64
is_consulting                 int64
is_othercategory              int64
object_id                    object
has_VC                      float64
has_angel                   float64
has_roundA                  float64
has_roundB                  float64
has_roundC                  float64
has_roundD                  float64
avg_participants            float64
is_top500                     int64
status                       object
dtype: object

In [110]:
data_bersih['is_biotech'] = data_bersih['is_biotech'].astype('float64')

In [111]:
data_bersih.dtypes

Unnamed: 0                    int64
state_code                   object
latitude                     object
longitude                    object
zip_code                     object
id                           object
city                         object
Unnamed: 6                   object
name                         object
labels                        int64
founded_at                   object
closed_at                    object
first_funding_at             object
last_funding_at              object
age_first_funding_year       object
age_last_funding_year        object
age_first_milestone_year     object
age_last_milestone_year      object
relationships                 int64
funding_rounds                int64
funding_total_usd             int64
milestones                    int64
state_code.1                 object
is_CA                         int64
is_NY                         int64
is_MA                         int64
is_TX                         int64
is_otherstate                 int64
category_code                object
is_software                   int64
is_web                        int64
is_mobile                     int64
is_enterprise                 int64
is_advertising                int64
is_gamesvideo                 int64
is_ecommerce                  int64
is_biotech                  float64
is_consulting                 int64
is_othercategory              int64
object_id                    object
has_VC                      float64
has_angel                   float64
has_roundA                  float64
has_roundB                  float64
has_roundC                  float64
has_roundD                  float64
avg_participants            float64
is_top500                     int64
status                       object
dtype: object

## ONE HOT ENCODING

In [112]:
from sklearn.preprocessing import OneHotEncoder

In [113]:
onehotencoder = OneHotEncoder(sparse=False)

In [114]:
data_encoding = onehotencoder.fit_transform(data_bersih[['name']])

In [ ]:
data_bersih2=pd.DataFrame(data_encoding)
data_bersih=data_bersih.join(data_bersih2)
data_bersih.head()

,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,labels,...,907,908,909,910,911,912,913,914,915,916
0,1005,CA,4.235.888,-7.105.682,92101,c:6669,San Diego,NaN,Bandsintown,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,204,CA,37.238.916,-121.973.718,95032,c:16283,Los Gatos,NaN,TriCipher,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1001,CA,32.901.049,-117.192.656,92121,c:65620,San Diego,San Diego CA 92121,Plixi,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,738,CA,37.320.309,-12.205.004,95014,c:42668,Cupertino,Cupertino CA 95014,Solidcore Systems,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1002,CA,37.779.281,-122.419.236,94105,c:65806,San Francisco,San Francisco CA 94105,Inhale Digital,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [117]:
startup_data.to_csv('Hasil akhir.csv')